.signup-form {
    height: 338px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.form-control-name,
.form-control-phone {
    border-radius: 5px;
    height: 56px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.submit_button {
    border-radius: 5px;
    height: 56px;
    border: none;
    cursor: pointer;
    z-index: 2;
    background-color: #f2c199;
    color: white;
    height: 56px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
.submit_button::before {
    position: absolute;
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
    border-radius: 20px;
    height: 100px;
    width: 30px;
    top: -20px;
    left: -50px;
    transform: rotate(45deg);
    z-index: 5;
    transition-property: all;
    transition-duration: 1ms;
    animation: bottonx 3s ease infinite;
    overflow: hidden;
}

@keyframes bottonx {
    0% { left: -50px; }
    100% { left: 730px; }
}

.msg1 {
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
